
#myVideo {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
.text-download{
padding-top: 5rem;
text-align: center;

}
.second-area{
    width: 50%;
    display: flex;
    flex-direction: column;
    /* padding-left: 6rem; */
    align-content: center;
    align-items: center;
    justify-content: center;
   
}
.content-imageqr{
display: flex;
}
.codigo-qr{
    width: 10rem;
    height: 10rem;
  
}
.button-download{
    width: 300px;
    height: 50px;
    background-color: #E30426;
    color: #fff;
    border-radius: 20px;
    outline: none;
    border: none;
}
.button-download:hover{
    width: 300px;
    height: 50px;
    background-color: #d85a6d;
    color: #fff;
    border-radius: 20px;
    outline: none;
    border: none;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 5rem;
    color: white;
}
.texto-download{
    margin-top: 2rem;
    width: 50%;
    text-align: justify;
}
.down-text{
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    
}
.content-button{
    padding-top: 2%;
}
.image-movil{
    margin-left: 4rem;
    width: 15rem;
}
.initial-content{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 18%;
    flex-wrap: nowrap;
}
.second-area{
    display: flex;
    flex-direction: column;

}