* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f6f6f6;
}

i {
  font-size: 32px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-size: 18px;
}

#botonx {
  animation: rotate-center 0.4s;
}

#botonmenu {
  animation: rotate-horizontal-center 0.4s;
}

.p-initial {
  width: 600px;
  text-align: justify;
  color: #fff;
  font-size: 16px;
  font-style: normal;
}

/* -----------------CUERPO DE LA PAGIAN------------------- */

.body-contain {
  display: block;
}

.tilte-page p {
  font-size: 50px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  font-weight: bold;
}

.grid-Menu {
  padding: 40px 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(35px, auto);
}

.ttp-empresa {
  padding: 20px;
}

.ttp-empresa hr {
  font-weight: bold;

  margin: 0px 300px 20px 40px;
}

.ttp-empresa h1 {
  padding: 30px 40px;
}

.ttp-empresa h2 {
  text-align: justify;
  padding: 10px 40px;
  font-weight: lighter;
}

.ttp-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ttp-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 980px;
  border-radius: 10px;
}

.aling-box {
  padding: 40px 100px;
}

.home-box {
  background: rgb(255, 255, 255);
  background: white;
  border-radius: 20px;
  padding: 50px;
  width: auto;
}

.grid-data {
  padding: 40px 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(5px, auto);
}

.box-text {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px 0px;
}

.box-text section {
  width: 65%;
}

.imgCraz {
  display: flex;
  align-items: center;
}

.imgCraz img {
  position: absolute;
  width: 400px;
}

.box-text h5 {
  font-size: 44px;
  padding: 0px 0px 20px 0px;
  font-weight: bold;
  color: #181c31;
}

.box-text font {
  font-size: 22px;
  color: #757693;
}

.conten-grid-data {
  text-align: right;
}

.conten-grid-data h3 {
  font-size: 44px;
  padding: 0px 0px 18px 0px;
  font-weight: bold;
  color: #181c31;
}

.conten-grid-data font {
  font-size: 22px;
  color: #757693;
}

.media-center {
  display: flex;
  justify-content: space-between;
}

/* ---------------ANIMACIONES--------------- */

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-horizontal-center {
  0% {
    transform: rotateX(0);
  }

  100% {
    transform: rotateX(-360deg);
  }
}

@keyframes scale-up-horizontal-right {
  0% {
    transform: scaleX(0.4);
    transform-origin: right center;
  }

  100% {
    transform: scaleX(1);
    transform-origin: right center;
  }
}

.hero {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-bottom: 100px;
}

.hero video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  object-fit: cover;
}

.header-content {
  width: 100%;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.0) -3.67%, rgba(0, 0, 0, 0.71) 60%);
  padding: 350px 33% 350px 24%;
}



/* ---------------Elementos responcive--------------- */

/* @media (max-width: 1100px) {}

@media (max-width: 700px) {

  .main-contain {
    padding: 40px 20px;

  }
} */

/* ---------------Codigo que se borrara, este es momentanio--------------- */

.coming-soon {
  padding: 150px 200px 0px 200px;
  text-align: center;
}

.coming-soon h1 {
  margin-top: 50px;
  color: white;
  font-size: 100px;
  font-weight: lighter;
}

.coming-soon img {
  width: 400px;
}