/* -------------------Start of Global styles------------------- */
* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f6f6f6;
  word-spacing: normal;
}

h2 {
  color: #ffffff;
  font-size: 2.6em;
  text-align: left;
  margin-bottom: 30px;
}

.headerFooter video {
  position: inherit;
  height: 800px;
  flex-shrink: 0;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-banner {
  width: 55%;
  margin-top: -35px;
  position: absolute;
  top: 350px;
  left: 27%;
  transform: translate(-50%, -50%);
  z-index: 1;
  line-height: 1.5;
}

.overlay-banner h1 {
  font-size: 7rem;
  color: #ffffff;
  font-family: "Abhaya Libre", serif;
  font-weight: normal;
}

.header-content {
  width: 100%;
  min-height: 250px;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.0) -3.67%, rgba(0, 0, 0, 0.71) 60%);
  padding: 350px 33% 350px 24%;
}

.overlay-content {
  width: auto;
  color: white;
  font-family: "Source Sans Pro";
  font-size: .9em;
}

.separador {
  position: absolute;
  top: 650px;
  width: 100%;
  height: 300px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0.04) 100%);
}

.button-1 {
  border: none;
  background-color: #E30426;
  color: rgb(255, 255, 255);
}

.next-button-rigth {
  z-index: 2;
  border-radius: 50%;
  position: absolute;
  top: 330px;
  right: 80px;
  cursor: pointer;
  padding: 12px;
  background: rgba(97, 97, 97, 0.5);
  border: none;
}

.next-button-lefth {
  z-index: 2;
  border-radius: 50%;
  position: absolute;
  top: 330px;
  left: 80px;
  cursor: pointer;
  padding: 12px;
  background: rgba(97, 97, 97, 0.5);
  border: none;
}

.hero {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  overflow: hidden;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-bottom: 100px;
}

.hero video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  object-fit: cover;
}

.cardCarrucel {
  height: auto;
  border-radius: 30px;
  padding: 70px;
  opacity: 0.9;
  background: rgba(63, 14, 13, 0.5);
  backdrop-filter: blur(7.5px);
  text-align: center;
}

.cardCarrucel h1 {
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin: 30px 0px;
}

.button-1,
.button-2 {
  border: 2px solid #E30426;
  border-radius: 20px;
  padding: 10px 12px;
  color: #E30426;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.button-1 {
  border: none;
  background-color: #E30426;
  color: rgb(255, 255, 255);
}

.button-1:hover {
  background-color: white;
  color: #E30426;
  backdrop-filter: blur(5px);
  animation: button-1 .9s linear both
}

.cardsData {
  padding: 90px 160px 0px 160px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cardsData img {
  width: 45%;
}

/* -------------------Media elements------------------- */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 700px) {

  .overlay-banner h1 {
    font-size: 3.1rem;
  }

  .header-content {
    padding: 340px 33% 350px 42%;
  }

  .p-initial {
    width: 100%;
    font-size: 14px;
    margin-bottom: 20px;
  }

  .tilte-page p {
    font-size: 28px;
  }

  .grid-Menu {
    padding: 20px;
    grid-template-columns: 1fr;
  }

  .ttp-img img {
    max-width: 100%;
  }

  .grid-data {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .next-button-rigth {
    top: 280px;
    right: 20px;
  }

  .next-button-lefth {
    top: 280px;
    left: 20px;
  }

  .box-text h5,
  .conten-grid-data h3 {
    font-size: 32px;
  }

  .button-1,
  .button-2 {
    font-size: 14px;
  }

  .cardsData img {
    width: 80%;
  }

  .hero {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-bottom: 100px;
  }

  .hero video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover;
  }

  .cardsData {
    padding: 5rem 2.5rem 0px 2.5rem;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
  }

  .cardCarrucel {
    height: auto;
    border-radius: 30px;
    padding: 10px;
    opacity: 0.9;
    background: rgba(63, 14, 13, 0.5);
    backdrop-filter: blur(7.5px);
    text-align: center;
  }

  .cardCarrucel h1 {
    font-size: 1.5rem;
  }

  .cardCarrucel p {
    font-size: 1rem;
    margin: 30px 15px;
  }

  h2 {
    font-size: 1.6em;

  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .p-initial {
    width: 100%;
    font-size: 15px;
  }

  .tilte-page p {
    font-size: 32px;
  }

  .grid-Menu {
    padding: 30px;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-data {
    grid-template-columns: 1fr 1fr;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .p-initial {
    width: 80%;
  }

  .tilte-page p {
    font-size: 36px;
  }

  .ttp-empresa h1 {
    font-size: 32px;
  }

  .grid-Menu,
  .grid-data {
    padding: 40px;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .tilte-page p {
    font-size: 40px;
  }

  .ttp-empresa h1 {
    font-size: 36px;
  }

  .ttp-img img {
    max-width: 800px;
  }

  .grid-data {
    grid-template-columns: repeat(3, 1fr);
  }

  .box-text h5,
  .conten-grid-data h3 {
    font-size: 40px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .p-initial {
    width: 600px;
    font-size: 16px;
  }

  .tilte-page p {
    font-size: 50px;
  }

  .grid-Menu {
    padding: 60px 100px;
  }

  .ttp-img img {
    max-width: 980px;
  }

  .grid-data {
    padding: 40px 80px;
  }

  .cardCarrucel p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1200px) {
  .cardCarrucel h1 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1600px) {
  .separador {
    top: 680px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  .cardsData img {
    width: 70%;
  }

  .textcardsFans p {
    font-size: 1rem;
    margin: 10%;
    color: white;
    text-align: justify;
  }

  .textcardsFans h2 {
    color: #ffffff;
    font-size: 1.5rem;
    margin: 8%;
  }
}


/* -------------------Animations------------------- */


@keyframes scale-up-horizontal-right {
  0% {
    transform: scaleX(0.4);
    transform-origin: right center;
  }

  100% {
    transform: scaleX(1);
    transform-origin: right center;
  }
}

@keyframes button-1 {
  0% {
    transform: scale3d(1, 1, 1)
  }

  30% {
    transform: scale3d(.75, 1.25, 1)
  }

  40% {
    transform: scale3d(1.25, .75, 1)
  }

  50% {
    transform: scale3d(.85, 1.15, 1)
  }

  65% {
    transform: scale3d(1.05, .95, 1)
  }

  75% {
    transform: scale3d(.95, 1.05, 1)
  }

  100% {
    transform: scale3d(1, 1, 1)
  }
}


/* TODO */

.textcardsFans {
  color: #fff;
  display: flex;
  flex-direction: column;
}

.textcardsFans p {
  font-size: 1rem;
  text-align: left;
}

.cardCarrucel h3 {
  color: rgba(255, 255, 255, 0.589);
  font-size: 20px;
}



.cardCarrucel p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  font-weight: lighter;
  margin: 30px 40px;
}

.cardCarrucel img {
  width: 60%;
}

.p-initial {
  text-align: left;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-size: 18px;
}

.body-contain {
  display: block;
}

.tilte-page p {
  font-size: 50px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  font-weight: bold;
}

.grid-Menu {
  padding: 40px 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(35px, auto);
}

.aling-box {
  padding: 40px 100px;
}

.home-box {
  background: rgb(255, 255, 255);
  background: white;
  border-radius: 20px;
  padding: 50px;
  width: auto;
}

.grid-data {
  padding: 40px 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(5px, auto);
}

.box-text {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px 0px;
}

.box-text section {
  width: 65%;
}

.imgCraz {
  display: flex;
  align-items: center;
}

.imgCraz img {
  position: absolute;
  width: 400px;
}

.box-text h5 {
  font-size: 44px;
  padding: 0px 0px 20px 0px;
  font-weight: bold;
  color: #181c31;
}

.box-text font {
  font-size: 22px;
  color: #757693;
}

.conten-grid-data {
  text-align: right;
}

.conten-grid-data h3 {
  font-size: 44px;
  padding: 0px 0px 18px 0px;
  font-weight: bold;
  color: #181c31;
}

.conten-grid-data font {
  font-size: 22px;
  color: #757693;
}

.media-center {
  display: flex;
  justify-content: space-between;
}