.top-bar {
  display: flex;
  position: fixed;
  z-index: 3;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(10px);
  color: rgb(255, 0, 0);

}

.menu-bar {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.menuConteiner {
  display: flex;
  list-style: none;
  padding: 0;
  margin-left: -20px;
}

.menuChild {
  padding: 10px 20px;
}

.logo-bar {
  flex: 0 0 auto;
  text-align: center;
}

.logo {
  width: 60px;
  height: 47px;
  cursor: pointer;
}

.loginFrame {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  min-width: 200px;
}

.button-login,
.button-sing-up {
  border: 2px solid #E30426;
  border-radius: 20px;
  padding: 10px 20px;
  color: #E30426;
  background-color: transparent;
  cursor: pointer;
  margin-left: -30px;
  margin-right: 40px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.button-sing-up {
  background-color: #E30426;
  color: rgb(255, 255, 255);
}

.color1 {
  color: var(--Colors-White, #FFF);
  font-weight: 400;
  transition: all 0.4s ease-in-out;
  position: relative;

  &::before {
    content: attr(data-item);
    transition: all 0.4s ease-in-out;
    color: red;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
    -webkit-text-stroke: 1px red;
  }

  &:hover {
    &::before {
      width: 100%;
    }
  }
}



@keyframes scale-up-vertical-top {
  0% {
    transform: scaleY(0.2);
    transform-origin: center top;
  }

  100% {
    transform: scaleY(1);
    transform-origin: center top;
  }
}

@media (max-width: 1100px) {
  .menu-bar {
    display: none;
  }

  .menu-but {
    display: block;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
  }

  .contain-logo {
    padding-left: 20px;
  }

}

@media (max-width: 700px) {

  .text-TTP {
    display: none;
  }

  .logo-bar {
    padding: 8px 30px;
  }

  .contain-logo {
    padding-left: 10px;
  }

}