.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-Queens {
    width: 55%;
    margin-top: -35px;
    position: absolute;
    top: 350px;
    left: 27%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.overlay-Queens h1 {
    font-size: 7rem;
    color: #ffffff;
    font-family: "Andada Pro";
    font-weight: normal;
}

.overlay-content {
    width: auto;
    color: white;
    font-family: "Source Sans Pro";
    font-size: .9em;
}

.buton-user1 {
    margin-top: 50px;
    padding: 10px 27px;
    background-color: #E30426;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: px;
}

.buton-user1:hover {
    background-color: #ffffff;
    /* Color al pasar el mouse */
    color: rgb(247, 1, 1);
    border: 3px solid #E30426;
}

/*Video layer blur */
.video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}

video {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.video-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.012);
    backdrop-filter: blur(30px);
    /*intensidad del desenfoque */
    pointer-events: none;
}

/*separador*/
.separador2 {
    position: absolute;
    top: -15%;
    left: -10%;
    width: 120%;
    height: 20%;
    background: rgba(0, 0, 0, 0.918);
    /* Fondo semitransparente */
    backdrop-filter: blur(10px);
    /* Efecto de desenfoque */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
    /* Sombra (opcional) */

}

.separador3 {
    position: absolute;
    top: 95%;
    left: -10%;
    width: 120%;
    height: 20%;
    background: rgba(0, 0, 0, 0.99);
    /* Fondo semitransparente */
    backdrop-filter: blur(10px);
    /* Efecto de desenfoque */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.93);
    /* Sombra (opcional) */

}

/*segunda parte */

.Video-texto {
    width: 1480px;
    margin-top: -47%;
    margin-left: 43%;
    position: absolute;
    z-index: 1;
    line-height: 1.5;
}

h2 {
    color: #ffffff;
    font-size: 2.6em;
}

.blur-box {
    position: absolute;
    top: 15%; 
    left: -10%; 
    width: 120%; 
    height: 20%; 
    background: #5a1f1f19; 
    backdrop-filter: blur(10px);  
    z-index: 1;      
}

.texto-h {
    color: #ffffff;
    font-size: 1.1em;
    margin-left: 18%;
    margin-right: 15%;
    margin-top: 2%;
    line-height: 1.5; 
    overflow: hidden; 
}

.carrusel {
    overflow: hidden;
    position: relative;
    margin-top: 3%;
    margin-right: 20%;
    margin-left: 20%;
}

.carrusel-inner {
    display: flex;
    animation: scroll 25s linear infinite; /* Animación continua */
    width: calc(100% * 2); /* Ajusta el ancho total */
}

@keyframes scroll {
    
    100% {
        transform: translateX(-100%); /* Se mueve completamente a la izquierda */
    }
}

.video-item {
    flex: 0 0 auto; 
    margin: 0 20px; 
    border-radius: 20px; 
    overflow: hidden;
}

.video-item video {
    width: 100%;
    height: auto; 
    object-fit: cover; 
}

/* Tamaño específico para cada video */
.me1 {
    margin-top: 2.5%;
    width: 180px; 
    height: 280px;
}

.me2 {
    width: 350px; 
    height: 450px;
}

.me3 {
    margin-top: 2%;
    width: 250px; 
    height: 350px;
}

.me4 {
    margin-top: .5%;
    width: 350px; 
    height: 430px;
}

.me5 {
    margin-top: 1.5%;
    width: 350px;
    height: 380px;
}

/* tercera parte*/
.main2{
    color: #ffffff;
    font-size: 2.6em;
    margin-left: 17%;
    margin-right: 15%;
    margin-top:28%;
    overflow: hidden; 
    width: 30%;
}

.img1{
    margin-left: 43%;
    width: 36%;
    margin-top: -460px;
    opacity: 0.6;
}

.blur-box2 {
    position: absolute;
    top: 315%; 
    left: 12%; 
    right: 20%;
    width: 75.5%; 
    height: 87%; 
    background: #f5f5f506; 
    backdrop-filter: blur(10px);  
    z-index: 1;    
    border-radius: 20px;  
}

h5{
    color: #ffffff;
    font-size: 2.6em;
    margin-left: 70.5%;
    margin-right: 3%;
    margin-top:5%;
    overflow: hidden; 
    width: 30%;
}

h6{
    color: #ffffff;
    font-size: 2.6em;
    margin-left: 70.5%;
    margin-right: 3%;
    overflow: hidden; 
    width: 30%;
}

/* final*/

.video3{
    width: 20px;  
}

.next-button-rigth {
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    top: 330px;
    right: 80px;
    cursor: pointer;
    padding: 12px;
    background: rgba(97, 97, 97, 0.5);
    border: none;
}
.next-button-lefth{
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    top: 330px;
    left: 80px;
    cursor: pointer;
    padding: 12px;
    background: rgba(97, 97, 97, 0.5);
    border: none;
}

.vidf{
    width: 435px;
    height: 200px;
    margin-left: 100px;
    margin-top: -280px;
    border-radius: 15px; 
    overflow: hidden;
}

.model1{
    width: 200px;
    height: 200px;
    margin-left: 610px;
    margin-top: -200px;
    margin-bottom: 195px;
    border-radius: 15px; 
    overflow: hidden;
}

.model2{
    width: 200px;
    height: 200px;
    margin-left: 585px;
    margin-top: -375px;
    margin-bottom: 195px;
    border-radius: 15px; 
    overflow: hidden;
}

.model3{
    width: 200px;
    height: 200px;
    margin-left: 555px;
    margin-top: -370px;
    margin-bottom: 195px;
    border-radius: 15px; 
    overflow: hidden;
}

.model4{
    width: 330px;
    height: 300px;
    margin-left: 358px;
    margin-top: -360px;
    margin-bottom: 195px;
    border-radius: 15px; 
    overflow: hidden;
}