/* -------------------Start of Download styles------------------- */

h1 {
  font-family: "Abhaya Libre", serif;
  font-size: 5rem;
  color: white;
}

.text-download {
  padding-top: 5rem;
  text-align: center;
  font-size: 7rem;
  color: #ffffff;
  font-family: 'Andada Pro', serif;
  font-weight: normal;
}

.content-main {
  display: flex;
  justify-content: center;
}

.initial-content {
  background-color: #ffffff59;
  width: 50%;
  display: flex;
  padding: 3%;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  border-radius: 20px;
}

.content-image-phone {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-movil {
  width: 18rem;
}

.second-area {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-imageqr {
  display: flex;
}

.codigo-qr {
  width: 10rem;
  height: 10rem;
}

.texto-download {
  margin-top: 2rem;
  text-align: justify;
}

.down-text {
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1rem;
  text-align: left;
  letter-spacing: -1px;
}

.content-button {
  padding-top: 8%;
}

/* -------------------Media elements------------------- */
@media only screen and (min-width: 300px) and (max-width: 450px) {
  .initial-content {
    width: 60%;
    height: 550px;
  }

  h1 {
    margin-top: 65px;
    font-size: 50px;
  }

  .content-image-phone {
    width: 100%;
    height: 1%;
    margin-bottom: 300px;
  }

  .image-movil {
    width: 100%;
    margin-left: 100%;

  }

  .content-imageqr {
    margin-right: 80%;
    margin-top: 250px;
  }

  .codigo-qr {
    width: 30%;
    height: 30%;
    margin-top: 2%;
    margin-right: 200px;
    margin-left: 90px;

  }

  .texto-download {
    width: 150%;
    margin-right: 100%;
    margin-top: 20px;

  }

  .down-text {
    font-size: 10px;
    padding-bottom: 20px;
  

  }

  .content-button {
    margin-right: 98%;
    margin-top: -10px;

  }
}

@media only screen and (min-width: 451px) and (max-width: 550px) {
  .initial-content {
    width: 65%;
    height: 700px;
  }

  h1 {
    margin-top: 65px;
    font-size: 55px;
  }

  .content-image-phone {
    width: 100%;
    height: 1%;
    margin-bottom: 380px;
  }

  .image-movil {
    width: 100%;
    margin-left: 100%;

  }

  .content-imageqr {
    margin-right: 80%;
    margin-top: 230px;
  }

  .codigo-qr {
    width: 40%;
    height: 40%;
    margin-right: 200px;
    margin-left: 65px;
    padding-top: 30%;

  }

  .texto-download {
    width: 150%;
    margin-right: 100%;
    margin-top: 50px;

  }

  .down-text {
    font-size: 12px;
  }

  .content-button {
    margin-right: 98%;
  }


}

@media only screen and (min-width: 551px) and (max-width: 650px) {
  .initial-content {
    width: 65%;
    height: 800px;
  }

  h1 {
    margin-top: 65px;
    font-size: 65px;
  }

  .content-image-phone {
    width: 100%;
    height: 1%;
    margin-bottom: 410px;
  }

  .image-movil {
    width: 100%;
    margin-left: 100%;

  }

  .content-imageqr {
    margin-right: 80%;
    margin-top: 300px;
  }

  .codigo-qr {
    width: 40%;
    height: 40%;
    margin-right: 200px;
    margin-left: 65px;
    padding-top: 30%;

  }

  .texto-download {
    width: 150%;
    margin-right: 100%;
    margin-top: 50px;

  }

  .down-text {
    font-size: 15px;
  }

  .content-button {
    margin-right: 98%;
  }
}

@media only screen and (min-width: 651px) and (max-width: 750px) {
  .initial-content {
    width: 65%;
    height: 1100px;

  }

  h1 {
    margin-top: 65px;
    font-size: 80px;
  }

  .content-image-phone {
    width: 100%;
    height: 1%;
    margin-bottom: 500px;
  }

  .image-movil {
    width: 120%;
    margin-left: 100%;
    margin-right: -5%;

  }

  .content-imageqr {
    margin-right: 80%;
    margin-top: 550px;
    margin-left: 10%;
  }

  .codigo-qr {
    width: 70%;
    height: 70%;
    margin-right: 200px;
    margin-left: 5px;
    padding-top: 30%;

  }

  .texto-download {
    width: 150%;
    margin-right: 100%;
    margin-top: 70px;

  }

  .down-text {
    font-size: 19px;
  }

  .content-button {
    margin-right: 220px;
  }
}

@media only screen and (min-width: 751px) and (max-width: 1950px) {
  .initial-content {
    width: 70%;
  }

  h1 {
    margin-top: 45px;
    font-size: 100px;
  }

  .down-text {
    text-align: left;
    font-size: 15px;
    padding-left: 10px;
    word-spacing: normal;
  }
}

/* -------------------Animations------------------- */
@-webkit-keyframes wobble-to-top-right-on-hover {
  16.65% {
    -webkit-transform: translate(8px, -8px);
    transform: translate(8px, -8px);
  }

  33.3% {
    -webkit-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px);
  }

  49.95% {
    -webkit-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
  }

  66.6% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  83.25% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes wobble-to-top-right-on-hover {
  16.65% {
    -webkit-transform: translate(8px, -8px);
    transform: translate(8px, -8px);
  }

  33.3% {
    -webkit-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px);
  }

  49.95% {
    -webkit-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
  }

  66.6% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  83.25% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
