/* -------------------Start of Header styles------------------- */

.top-bar {
  position: fixed;
  z-index: 3;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(10px);
  color: rgb(255, 0, 0);
}

.menugrande {
  display: flex;
  justify-content: space-around;
  gap: 110px;
}

.menu-bar {
  padding: 8px 0px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.menuConteiner {
  display: flex;
  list-style: none;
  padding: 0;
  margin-left: -20px;
}

.menuChild {
  padding: 10px 20px;
}

.colorText {
  color: var(--Colors-White, #FFF);
  font-weight: 400;
  min-width: 100%;
  transition: all 0.4s ease-in-out;
  position: relative;
  display: inline-block; 
}

.colorText::before {
  content: attr(data-item);
  transition: all 0.4s ease-in-out;
  color: red;
  position: absolute;
  top: 0; 
  left: 0;
  width: 0;
  white-space: nowrap; 
  overflow: hidden;
  -webkit-text-stroke: 1px red;
}

.colorText:hover::before {
  width: 100%;
}

.menu-but {
  color: white;
  display: none;
}

.logo-bar {
  flex: 0 0 auto;
  text-align: center;
  position: absolute;
}

.logo {
  width: 60px;
  height: 47px;
  cursor: pointer;
}

.loginFrame {
  display: flex;
  justify-content: flex-end;
  padding: 13px 0px;
  flex: 1;
  min-width: 86.69px;
}

.loginFrame h6 {
  font-weight: lighter;
  font-size: 16px;
}

.icon-join {
  display: none;
}

.dropdown-menu {
  padding: 60px 60px;
  animation: scale-up-vertical-top 0.2s linear;
}

.expandedMenu {
  list-style: none;
}

.menuChildExpanded {
  font-size: 30px;
  padding: 20px 20px;
}

.textExpand {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 30px;
}
.i-nav{
  font-size: 42px;
}

#botonx {
  animation: rotate-center 0.4s;
}

#botonmenu {
  animation: rotate-horizontal-center 0.4s;
}

/* -------------------Media elements------------------- */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .top-bar {
    padding: 10px 0px;
  }

  .menu-bar {
    justify-content: center;
    padding-bottom: 10px;
  }

  .menuConteiner {
    align-items: center;
    margin-left: 0;
  }

  .menuChild {
    padding: 5px;
  }

  .loginFrame {
    justify-content: flex-end;
    padding: 13px 0px;
    width: 0px;
  }

  .loginFrame h6 {
    display: none;
  }

  .icon-join {
    display: block;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .top-bar {
    padding: 10px 0px;
  }

  .menuConteiner {
    margin-left: -10px;
  }

  .menuChild {
    padding: 8px 15px;
  }

}

@media (max-width: 700px) {

  .text-TTP {
    display: none;
  }

  .contain-logo {
    padding-left: 10px;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .top-bar {
    padding: 10px 0px;
  }

  .menuConteiner {
    margin-left: -15px;
  }

  .menuChild {
    padding: 10px 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .top-bar {
    padding: 10px 0px;
  }

  .menuConteiner {
    margin-left: -20px;
  }

  .loginFrame {
    justify-content: center;
    padding: 13px 0px;
  }

  .menuChild {
    padding: 10px 25px;
  }

}

@media (max-width: 1100px) {
  .menu-bar {
    display: none;
  }

  .menu-but {
    display: block;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
  }

  .contain-logo {
    padding-left: 20px;
  }

  .loginFrame {
    flex: none;
  }
}

/* -------------------Animations------------------- */

@keyframes scale-up-vertical-top {
  0% {
    transform: scaleY(0.2);
    transform-origin: center top;
  }

  100% {
    transform: scaleY(1);
    transform-origin: center top;
  }
}

@keyframes scale-up-top {
  0% {
    transform: scale(.5);
    transform-origin: center top
  }

  100% {
    transform: scale(1);
    transform-origin: center top
  }
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-horizontal-center {
  0% {
    transform: rotateX(0);
  }

  100% {
    transform: rotateX(-360deg);
  }
}