/* --------------------------Start of Queens styles-------------------------- */
.heroQueens {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-bottom: 100px;
}

.backgroundVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover;
}

.QueesToptext {
    text-align: right;
    padding: 50px 15px;
}

.QueesToptext h2{
    text-align: center;
}

.carrusel {
    overflow: hidden;
    position: relative;
}

.carrusel-inner {
    display: flex;
    animation: scroll 25s linear infinite;
    width: calc(100% * 2);
}
.cardsData-queens {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
.video-item {
    flex: 0 0 auto;
    margin: 0 20px;
    border-radius: 20px;
    overflow: hidden;
}

.video-item video {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.me1 {
    margin-top: 2.5%;
    width: 180px;
    height: 280px;
}

.me2 {
    width: 350px;
    height: 450px;
}

.me3 {
    margin-top: 2%;
    width: 250px;
    height: 350px;
}

.me4 {
    margin-top: .5%;
    width: 350px;
    height: 430px;
}

.me5 {
    margin-top: 1.5%;
    width: 250px;
    height: 380px;
}

.texto-h {
    color: #ffffff;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: left;
    overflow: hidden;
    padding: 90px 7%;
}

.textcardsQueens {
    width: 100%;
    padding: 20px 6% 30px;
}
.queens-h2{
    color: #ffffff;
    font-size: 2.6em;
    text-align: center;
}
.video-container {
    padding-right: 4%;
    width: 100%;
    position: relative;
    display: inline-block; /* Esto permite que la imagen de fondo y el GIF se alineen correctamente */
}

.img-background {
    width: 100%; /* Ajusta el tamaño de la imagen de fondo para que cubra el contenedor */
    height: auto; /* Mantiene la proporción de la imagen de fondo */
}

.video-queens {
    width: 65%;
    position: absolute;
    top: 50%; /* Coloca el contenedor del GIF en el centro vertical */
    left: 50%; /* Coloca el contenedor del GIF en el centro horizontal */
    transform: translate(-50%, -50%); /* Ajusta para que esté perfectamente centrado */
    display: flex;
    justify-content: center;
    align-items: center;
}


.img-queen{
    width: 80%; /* Aumenta el tamaño del GIF para que sea más grande que el fondo */
    height: auto; /* Mantiene la proporción del GIF */
    object-fit: contain; /* Asegura que el GIF mantenga sus proporciones */
}
.images-last{
    width: 40%;
    padding: 6%;
}



/* --------------------------Media elements-------------------------- */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .cardsData-queens{
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 0;
    }
    .cardsData{
        padding-top: 0;
        flex-direction: column-reverse;
    }
    .overlay-Queens h1 {
        font-size: 3.5rem;
    }

    .textcardsQueens {
        padding: 0 7%;
    }
    .queens-h2 {
        text-align: left;
        margin: 8%;
    }
    .QueesToptext h2 {
        text-align: left;
        
    }
    .video-container img {
        padding-bottom: 20%;
        width: 100%; /* Escala la imagen al ancho del contenedor */
        height: auto;
    }
    .video-queens {
        width: 80%;
    }
    h3{
        font-size: 1.2rem;
    }
    .images-last{
        width: 100%;
    }
    .texto-h{
        padding: 12% 7% 7%;
    }
}

@media only screen and (min-width: 600px) {
  
    .video-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .video-container-img {
        width: 80%; 
        height: auto;
        padding-right: 6%;
    }

    .video-queens {
        width: 75%;
        position: absolute;
        top: 50.5%;
        left: 48.5%;
    }
   
    
}

@media only screen and (min-width: 601px)  and (max-width: 800px) {
 
    .texto-h {
      font-size: 1.6rem;
    }
    .video-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .video-container-img {
        width: 80%; 
        height: auto;
    }

    .video-queens {
        width: 75%;
        position: absolute;
        top: 50.5%;
        left: 48.5%;
    }
  }
  
  @media only screen and (min-width: 801px)  and (max-width: 900px) {
  
    .texto-h {
      font-size: 2rem;
    } 
  }
  
  @media only screen and (min-width: 901px)  and (max-width: 1100px) {
    .texto-h {
      font-size: 2.2rem;
    }
  }

/* --------------------------Animations-------------------------- */
@keyframes scroll {

    100% {
        transform: translateX(-100%);
    }
}

/* TODO */

h5 {
    color: #ffffff;
    font-size: 2.6em;
    margin-left: 70.5%;
    margin-right: 3%;
    margin-top: 5%;
    overflow: hidden;
    width: 30%;
}