/* --------------------------Start of Queens styles-------------------------- */
.heroQueens {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-bottom: 100px;
}

.backgroundVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover;
}

.QueesToptext {
    text-align: right;
    padding: 50px 15px;
}

.QueesToptext h2{
    text-align: center;
}

.carrusel {
    overflow: hidden;
    position: relative;
}

.carrusel-inner {
    display: flex;
    animation: scroll 25s linear infinite;
    width: calc(100% * 2);
}

.video-item {
    flex: 0 0 auto;
    margin: 0 20px;
    border-radius: 20px;
    overflow: hidden;
}

.video-item video {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.me1 {
    margin-top: 2.5%;
    width: 180px;
    height: 280px;
}

.me2 {
    width: 350px;
    height: 450px;
}

.me3 {
    margin-top: 2%;
    width: 250px;
    height: 350px;
}

.me4 {
    margin-top: .5%;
    width: 350px;
    height: 430px;
}

.me5 {
    margin-top: 1.5%;
    width: 250px;
    height: 380px;
}

.texto-h {
    color: #ffffff;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: left;
    overflow: hidden;
    padding: 90px 11%;
}

.textcardsQueens {
    padding: 20px 4%;
}
.queens-h2{
    color: #ffffff;
    font-size: 2.6em;
    text-align: center;
}
.video-container {
    position: relative;
    width: 100%; /* Ajusta según necesites */
    height: auto; /* Mantener proporción del contenido */
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container img {
    width: 90%; /* Escala la imagen al ancho del contenedor */
    height: auto;
}

.video-queens {
    width: 31.2%;

    position: absolute;
    top: 50.2%; /* Posición vertical centrada */
    left: 48.58%; /* Posición horizontal centrada */
    transform: translate(-50%, -50%); /* Ajuste para centrar exactamente */
    z-index: 2; /* Asegura que el video esté sobre la imagen */
}

.video-queens video {
    border-radius: 6px;
    width: 100%; 
    height: auto;/* Ajusta el tamaño del video según prefieras */
}


/* --------------------------Media elements-------------------------- */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .cardsData{
        padding-top: 0;
        flex-direction: column-reverse;
    }
    .overlay-Queens h1 {
        font-size: 3.5rem;
    }

    .textcardsQueens {
        padding: 30px 7%;
    }
    .queens-h2 {
        text-align: left;
        margin: 8%;
    }
    .QueesToptext h2 {
        text-align: left;
        
    }
    .video-container img {
        width: 100%; /* Escala la imagen al ancho del contenedor */
        height: auto;
    }
    .video-queens {
        top: 51.5%;
        width: 34.1%;
    }
    h3{
        font-size: 1.2rem;
      }
}

@media only screen and (min-width: 600px) {
    .video-container{
        width: 100%;
    }

    .video-container img {
        width: 100%; 
        height: auto;
    }

    .video-queens {
        width: 35%;
        position: absolute;
        top: 50.5%;
        left: 48.5%;
    }
    
}

@media only screen and (min-width: 701px)  and (max-width: 800px) {
    .texto-h {
      font-size: 1.6rem;
    }
  }
  
  @media only screen and (min-width: 801px)  and (max-width: 900px) {
    .texto-h {
      font-size: 2rem;
    } 
  }
  
  @media only screen and (min-width: 901px)  and (max-width: 1100px) {
    .texto-h {
      font-size: 2.2rem;
    }
  }

/* --------------------------Animations-------------------------- */
@keyframes scroll {

    100% {
        transform: translateX(-100%);
    }
}

/* TODO */

h5 {
    color: #ffffff;
    font-size: 2.6em;
    margin-left: 70.5%;
    margin-right: 3%;
    margin-top: 5%;
    overflow: hidden;
    width: 30%;
}