video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    z-index: -0; 
    opacity: 1;
    transition: opacity .5s ease; 
}

.download-app__card {
    background-color: white;
    border-radius: 10px;
    padding: 68px 20px;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.download-app__description {
    display: flex;
    width: 55%;
    font-size: 19px; 
    justify-content: left;
    align-items: center;
}

.download-app__stories {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.download-app__stories-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.download-app__hero {
    text-align: center;
    padding: 3% 0px;
}

.download-app__text-main {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
}

.download-app__iphone-frame {
    text-align: center;
    width: 250px;
    height: 540px;
    border-radius: 60px;
    overflow: hidden;
    position: relative;
}

.download-app__iphone-frame video {
    top: -2px;
    position: absolute;
    object-fit: cover;
}

.download-app__text, .download-app__subtitle,
.download-app__description {
    color: #545F71;
    margin-bottom: 20px;
}

.download-app__grid {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.download-app__text {
    display: flex;
    width: 35%;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
.download-app__text-main .download-app__text-main-title{
    text-align: left;
    color: #545F71;
}

.shake-horizontal {
    animation: shake-horizontal 0.5s linear both;
}

.download-app__video {
    height: 550px;
}

.download-app__exclusive-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;

}

.download-app__exclusive-content .download-app__exclusive-description {
    text-align: left;
    height: auto;
    width: 100%;
    font-weight: bold;
    padding: 20px 70px;
    font-size: 25px;
}

.download-app__exclusive-content .download-app__exclusive-image {
    display: flex;
    width: 80%;
}

.download-app__diagonal {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    width: 100%;
    clip-path: polygon(0% 0%, 100% 40px, 100% 100%, 0% 100%);
    background: #fdece6;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    
}

.download-app__content img {
    width: 300px;
}

.download-app__content p {
    font-size: 25px;
    text-align: left;
}

.download-app__features {
    display: flex;
    width: 100%;
    gap: 20px;
    margin-bottom: 5%;
    justify-content: center;
}
  
.download-app__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
  
.download-app__card i {
    font-size: 105px;
    margin: 20px 0px;
}
  
.download-app__card h3 {
    color: rgb(77, 77, 77);
    margin: 10px 0px;
    font-size: 35px;
}
  
.download-app__card h4 {
    color: rgb(172, 172, 172);
    margin: 80px 45px 0px 45px;
    text-align: center;
    line-height: 150%;
    margin-top: 90px;
    margin-bottom: -100px;
}

.download-app__card img{
    margin-top: -90px;
     width: 105px;
}

.download-app__stories-text {
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: center;
    align-items: center;
}

.download-app__stories-text img {
    width: 700px;
}

.download-app__stories-text .download-app__stories-title,
p {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
    color: #545F71;
    text-align: left;
    flex-direction: column;

}

.download-app__stories-text .download-app__stories-description {
    margin-top: 3%;
    font-size: 25px;
    width: 100%;
    text-align: left;
}
.download-app__card h5 {
    color: rgb(77, 77, 77);
    margin: 0px 0px;
    margin-bottom: -75px;        
    padding-top: 32px;
    font-size: 35px;
}

@media only screen and (max-width: 999px) {
    .download-app__features {
        flex-wrap: wrap;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    
    .download-app__text {
        padding-top: 20px;
        width: 75%;
    }
    
    .download-app__exclusive-content .download-app__exclusive-image {
        display: flex;
        width: 75%;
        margin-top: 15%;
    }

    .download-app__content {
        margin-top: 10%;
    }
    
    .download-app__content p {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .download-app__description {
        width: 100%;
    }
    
    .download-app__text-main {
        width: 75%;
        gap: 10px;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .download-app__card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    .download-app__hero .download-app__hero-title {
        font-size: 25px;
        display: flex;
        margin-top: 10%;
        align-items: center;
        justify-content: center;
    }    
    
    .download-app__stories-text .download-app__stories-description {
        font-size: 18px;
        width: 100%;
    }

    .download-app__text-main-title {
        font-size: 24px !important; 
    }

    .download-app__exclusive-content .download-app__exclusive-description {
        width: 75%;
        padding: 15px;
        text-align: left;
        height: auto;
        font-weight: bold;
        font-size: 20px;
        line-height: 1.5;
    }

    .download-app__stories-text {
        width: 75%;
        gap: 20px;
        margin-bottom: 5%;
    }

    .download-app__stories {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    }
    
    .download-app__stories-image {
        width: 75%;
    }
    .download-app__card img{
        margin-top: 10px;
         width: 105px;
    }
    .download-app__card h4 {
        color: rgb(172, 172, 172);
        margin: 80px 45px 0px 45px;
        text-align: center;
        line-height: 150%;
        margin-top: 90px;
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 500px) {

    .download-app__stories-image {
        display: flex;
        width: 75%;
        height: 210px;
    }

    .download-app__hero .download-app__hero-title {
        font-size: 30px;
        display: flex;
        margin-top: 10%;
        align-items: center;
        justify-content: center;
    }    
    
    .download-app__stories-text .download-app__stories-description {
        font-size: 19px;
    }

}

@media only screen and (min-width: 1024px) {

    .download-app__card {
        display: flex;
        width: 27%;
        flex-direction: column;
    }
 
}

@media only screen and (min-width: 1000px) and (max-width:1110px) {

    .download-app__diagonal{
        gap: 20%;
    }

    .download-app__text-main {
        width: 35%;
    }
    .download-app__text-main-title{
        margin-bottom: 15px;
    }
}
@media only screen and (min-width: 1111px) and (max-width:1210px) {

    .download-app__diagonal{
        gap: 20%;
    }

    .download-app__text-main {
        width: 35%;
    }
    .download-app__text-main-title{
        margin-bottom: 15px;
    }
}
@media only screen and (min-width: 1211px) and (max-width:1700px) {

    .download-app__diagonal{
        gap: 20%;
    }

    .download-app__text-main {
        width: 35%;
    }
    .download-app__text-main-title{
        margin-bottom: 15px;
    }
}
@media only screen and (min-width: 1701px) and (max-width:1900px) {

    .download-app__diagonal{
        gap: 18%;
    }

    .download-app__text-main {
        width: 35%;
    }
    .download-app__text-main-title{
        margin-bottom: 15px;
    }
}
@media only screen and (min-width: 1901px) and (max-width:2660px) {

    .download-app__diagonal{
        gap: 16%;
    }

    .download-app__text-main {
        width: 35%;
    }
    .download-app__text-main-title{
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 1211px) and (max-width:2660px) {

    .download-app__video-frame{
        text-align: center;
        width: 250px;
        height: 540px;
        margin-left: 80%;
        border-radius: 60px;
        overflow: hidden;
        position: relative;
    }

    .download-app__content p {
        font-size: 19px;
    }
}
@media only screen and (min-width: 1000px) and (max-width:1110px) {

    .download-app__video-frame{
        text-align: center;
        width: 250px;
        height: 540px;
        margin-left: 40%;
        border-radius: 60px;
        overflow: hidden;
        position: relative;
    }

    .download-app__content p {
        font-size: 19px;
    }
    .download-app__stories{
        margin-top: 3%;
    }
}
@media only screen and (min-width: 300px) and (max-width:1000px) {

    .download-app__video-frame{
        text-align: center;
        width: 250px;
        height: 540px;
        border-radius: 60px;
        overflow: hidden;
        position: relative;
    }

    .download-app__content p {
        font-size: 19px;
    }
}
@media only screen and (min-width: 1111px) and (max-width:1450px) {
    .download-app__video-frame{
        text-align: center;
        width: 250px;
        height: 540px;
        margin-left: 60%;
        border-radius: 60px;
        overflow: hidden;
        position: relative;
    }

    .download-app__content p {
        font-size: 19px;
    }

}