/* -------------------Start of Header styles------------------- */

.content-sections {
    padding-top: 1 0%;
    display: flex;
    color: #FFF;
}

.section-one {
    width: 70%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6%;
}

.image-main {
    align-items: center;
    width: 25rem;
    height: 31rem;
    padding-bottom: 4%;
}

.tiltNew{
    display: flex;
    font-size: 28px;
    text-align: left;
    padding-bottom: 5%;
    align-items: center;
    justify-content: center;
}

.textNew {
    display: flex;
    text-align: left;
    font-size: 20px;
    padding-bottom: 5%;
    gap: 20px;
    color: #FFF;
    flex-direction: column;
    align-items: center;
}

.part-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-two {
    display: flex;
    text-align: left;
    font-size: 20px;
    gap: 20px;
    padding-right: 5%;
    padding-bottom: 5%;
    color: #FFF;
    flex-direction: column;
    align-items: center;
}

.section-two {
    width: 30%;
    padding-top: 9%;
}

.section-two img {
    width: 120px;
    height: 160px;
    display: flex;
    flex-direction: column;
}

.elements-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
}

.elements-section p {
    font-size: 16px;
    padding: 3%;
}


/* -------------------Media elements------------------- */

/* .button-links {
    cursor: pointer;
    width: 100px;
    height: 40px;
} */

@media only screen and (max-width: 1024px) {
    .content-sections {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .tiltNew{
        width: 85%;
    }

    .section-one {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .part-two {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .p-two {
        text-align: left;
        letter-spacing: -0.5px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
        font-size: 20px;
        width: 85%;
        font-weight: 1.5px;
        padding-right: 0%;
        padding-bottom: 0%;
        color: #FFF;
    }

    .section-two {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: left;
    }

    .textNew {
        display: flex;
        width: 85%;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
    }

    .news-header-content p {
        text-align: left;
        line-height: 50px;
        font-size: 4rem;
        color: #ffffff;
        font-family: 'Andada Pro', serif;
        font-weight: normal;
    }
}

@media only screen and (max-width: 400px) {

    .image-main {
        width: 85%;
        height: 10%;
        padding: 9% 0 10% 0;
    }

    .part-two img {
        padding-top: 10%;
        width: 85%;
        height: 10%;
    }
}

/* -------------------Animations------------------- */
