.textcardsFans {
    color: rgba(255, 255, 255, 0.8)
}
.textcardsFans p {
    font-size: 1rem;
    color: white;
    text-align: justify;
}

.fanscards {
    padding: 90px 160px 0px 160px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fanscards img {
    width: 45%;
}

.cardCarrucel {
    width: 1645px;
    height: auto;
    border-radius: 30px;
    padding: 70px;
    opacity: 0.9;
    background: rgba(63, 14, 13, 0.5);
    backdrop-filter: blur(7.5px);
    text-align: center;
}

.cardCarrucel h3 {
    color: rgba(255, 255, 255, 0.589);
    font-size: 20px;
}

.cardCarrucel h1 {
    color: white;
    font-size: 64px;
    font-weight: bold;
    margin: 30px 0px;


}

.cardCarrucel p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
    font-weight: lighter;
    margin: 30px 40px;
}

.cardCarrucel img {
    width: 60%;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .fanscards img {
        width: 80%;
    }
    h2{
        font-size: 1.5rem;
    }
    .fanscards {
        padding: 5rem 2.5rem 0px 2.5rem;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        align-content: center;
    }
    .cardCarrucel {
        width: auto;
        height: auto;
        border-radius: 30px;
        padding: 0px;
        opacity: 0.9;
        background: rgba(63, 14, 13, 0.5);
        backdrop-filter: blur(7.5px);
        text-align: center;
    }
    .cardCarrucel h1 {
        font-size: 1.5rem;
    }
    .cardCarrucel p {
        font-size: 1rem;
        margin: 30px 15px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
    .fanscards img {
        width: 70%;
    }
    .textcardsFans p {
        font-size: 1rem;
        margin: 10%;
        color: white;
        text-align: justify;
    }
    .cardCarrucel p {
        font-size: 1rem;
    }
    .cardCarrucel h1 {
        font-size: 1.5rem;
    }
    .textcardsFans h2 {
        color: #ffffff;
        font-size: 1.5rem;
        margin: 8%;
    }
}

