.textcardsFans {
    color: rgba(255, 255, 255, 0.8)
}

.fanscards {
    padding: 90px 160px 0px 160px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fanscards img {
    width: 45%;
}

.cardCarrucel {
    width: 1645px;
    height: auto;
    border-radius: 30px;
    padding: 70px;
    opacity: 0.9;
    background: rgba(63, 14, 13, 0.5);
    backdrop-filter: blur(7.5px);
    text-align: center;
}

.cardCarrucel h3 {
    color: rgba(255, 255, 255, 0.589);
    font-size: 20px;
}

.cardCarrucel h1 {
    color: white;
    font-size: 64px;
    font-weight: bold;
    margin: 30px 0px;


}

.cardCarrucel p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
    font-weight: lighter;
    margin: 30px 40px;
}

.cardCarrucel img {
    width: 60%;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .fanscards img {
        width: 100%;
    }
    h2{
        font-size: 1.5rem;
    }
    .fanscards {
        padding: 5rem 2.5rem 0px 2.5rem;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        align-content: center;
    }
    .cardCarrucel {
        width: auto;
        height: auto;
        border-radius: 30px;
        padding: 30px;
        opacity: 0.9;
        background: rgba(63, 14, 13, 0.5);
        backdrop-filter: blur(7.5px);
        text-align: center;
    }
    .cardCarrucel h1 {
        font-size: 1.5rem;
    }
    .cardCarrucel p {
        margin: 30px 15px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
 
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}