.formJoinus {
    padding: 60px 60px 0px 60px;
}

.formJoinus h1 {
    font-size: 72px;
    font-weight: lighter;
    padding: 0px 0px 0px 35%;
    text-align: center;
}

.headerJoinUs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.formularioselect,
input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form {
    max-width: 500px;
    background-color: white;
    border-radius: 24px;
    padding: 70px 70px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

form h3 {
    font-size: 40px;
}

.joinusFomr {
    margin: 90px 0px;
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.joinusFomr img {
    width: 550px;
    height: 550px;
}

.joinusFomr samp {
    color: #E30426;
    font-size: 20px;
}


.arrow-back {
    width: 50px;
    height: 50px;
}

.form-Button {
    margin: 20px 0px;
    border-radius: 6px;
    cursor: pointer;
    background: var(--Colors-Red-Red-09, #E30426);
    width: 100%;
    padding: 11px 128px;
    color: white;
    border: none;
}
.input-red{
    border:1px solid red;
}
/* .text-gradient {
    color: transparent;
    background-image: linear-gradient(to left, #E30426, #FF6200, #ffdb11, #ffe600);    
    background-clip: text;
    animation: color 3s linear infinite;
    background-size: 500%;    
}

@keyframes color {
    from {
        background-position: 0% 50%;
    }

    to {
        background-position: 100% 50%;
    }
} */

.required-text{
    color: #E30426;

}

/*-----------------------------------------------------------*/
@media only screen and (min-width: 320px) and (max-width: 450px) {
    .joinusFomr{
        padding: 0 5px;
    }
    .arrow-back {
        width: 80px;
        height: 40px;
    }

    .formJoinus h1 {
        font-size: 32px;
        padding: 0px 100px 0px 10%; 
    }

    .joinusFomr img{
        display: none;
    }

    form{
        width: 150px;
    }

    form h3{
        font-size: 18px;
    }

    p{
        font-size: 10px;
        margin-top: 0px;
        margin-bottom: -10px;
    }

    label{
        font-size: 12px;
    }

    input{
        font-size: 1px;
    }

    select{
        font-size: 7px;
    }

    .required-text{
        font-size: 10px;
    }

    .form-Button{
        width: 10px;
        height: 30px;
        padding: 0px 10px 0px 100px;

    }



  }