h1 {
    color: #fff;
    font-size: 64px;
    margin-top: 4%;
    margin-bottom: 5%;
    font-family: "Source Sans Pro";
    
}

img {
    width: 800px;
    height: 600;
}
.background-video-about {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
.content-information {
    display: flex;
    box-direction: column;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 6% 9%;
    z-index: 2;
}

.about-header-content{
    position: absolute;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.00) -3.67%, rgba(0, 0, 0, 0.71) 96.33%);
    padding: 350px 8%;
}

.about-header-content p {
    text-align: left;
    line-height: 50px;
    font-size: 7rem;
    color: #ffffff;
    font-family: 'Andada Pro', serif;
    font-weight: normal;
    letter-spacing: -0.5px;

}

.hero-about video {
    position: inherit;
}

.pageant-description {
    width: 80%;
    text-align: center;
}

.textabout {
    text-align: justify;
    color: #fff;
    margin-bottom: 20px;
    font-size: 16px;
}
.textabout-second{
    font-size: 16px;
    text-align: justify;
    color: #fff;
    
}

.h2-about {
    color: #7c8696;
    text-align: center;
}

h3 {
    color: #E30426;
    text-align: center;
    padding-bottom: 2%;
    font-size: 23px;
    letter-spacing: -0.5px;
}

.ceos {
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(20px);
    border-radius: 24px;
    overflow: hidden;
    margin-bottom: 50px;
    width: 80%;
    word-spacing: normal;
}

.ceos img {
    width: 330px;
    object-fit: cover;
    object-position: 50% 5%;
}

.ceoContent {
    display: flex;
}

.ceoText {
    padding: 50px;
    text-align: justify;
    letter-spacing: -0.5px;
}

.ceoText p {
    color: rgba(255, 255, 255, 0.815);
    margin-top: 40px;
    line-height: 1.5;
    font-size: 18px;
    letter-spacing: -0.5px;
    text-align: justify;
}

h4 {
    text-align: center;
    font-size: 48px;
    color: white;
    padding-bottom: 3%;

}

.ceoContent {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.ceoContent video {
    opacity: .7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover;
}

.awardscard{
    background: linear-gradient(0deg, rgba(2,0,36,0.35) 0%, rgba(49,73,106,0.35) 50%, rgba(65,88,125,0.35) 100%);
    backdrop-filter: blur(20px);
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin: 0px 150px;
}

.awardscard img{
    width: 300px;
    min-width: 136px;
    object-fit: contain;
}
.awars-text{
    padding: 50px 90px;
    text-align: justify;
}

.awars-text p{
    color: rgba(255, 255, 255, 0.815);
    margin-top: 30px;
    line-height: 1.5;
    font-size: 18px;
    text-align: justify;
}

@media only screen and (min-width: 300px) and (max-width: 799px) {
    .background-video-about {
        object-fit: cover;
      }
    .news-header-content p{
        text-align: justify;
        color: #fff;
        text-align: left;
        font-family: 'Andada Pro', serif;
        font-size: 500%;
        font-style: normal;
        font-weight: 700;
        line-height: 100px;
    }
    .h2-about{
        margin: 0;
    }
    .ceoContent {
        width: 100%;
        height: auto;
        display: flex;
        overflow: hidden;
        flex-direction: column;
    }
    .awardscard img {
        width: 200px;
    }
    .content-information {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        padding: 25% 0 0 0;
        z-index: 2;
    }
    h1 {
        color: #fff;
        font-size: 2rem;
        margin-top: 4%;
        margin-bottom: 5%;
        font-family: "Source Sans Pro";
    }
    .news-header-content{
        width: 50%;
    }
    .ceos img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
        object-position: 50% 5%;
    }
    .awars-text p {
        color: rgba(255, 255, 255, 0.815);
    }
    .awardscard {
        background: linear-gradient(0deg, rgba(2, 0, 36, 0.35) 0%, rgba(49, 73, 106, 0.35) 50%, rgba(65, 88, 125, 0.35) 100%);
        backdrop-filter: blur(20px);
        border-radius: 24px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 2rem;
    }
    .about-header-content p {
        text-align: left;
        line-height: 50px;
        font-size: 400%;
        color: #ffffff;
        font-family: 'Andada Pro', serif;
        font-weight: normal;

    }
    .ceoText p {
        color: rgba(255, 255, 255, 0.815);
        line-height: 1.5;

    }
    .pageants-awards{
        width: 100%;
    }
    .awardscard img {
        width: 60%;
        height: auto;
    }
    .awars-text {
        padding: 0;
        text-align: justify;
    }
    .ceoText {
        padding: 1.5rem;
        text-align: justify;
    }
    .textabout{
        font-size: 15px;
        letter-spacing: -0.5px;
        text-align: justify;
    }
    .textabout-second{
        font-size: 15px;
        letter-spacing: -0.6px;
        text-align: justify;
    }

}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
    .about-header-content p {
        font-size: 500%;
    }
    h1 {
        font-size: 1.5rem;
    }
    .textabout {
        text-align: justify;
        color: #fff;
        font-size: 1rem;
    }
    .textabout-second{
        font-size: 1rem;
    }
    .ceoContent {
        width: 100%;
        height: 50vh;
        overflow: hidden;
    }
    h2 {
        color: #7c8696;
        text-align: center;
        font-size: 1.5rem;
    }
    h3 {
        color: #E30426;
        text-align: center;
        padding-bottom: 2%;
        font-size: 1rem;
    }
    .ceoText {
        padding: 0 5% 0 5%;
        text-align: justify;
    }
    .ceoText p {
        color: rgba(255, 255, 255, 0.815);
        margin-top: 40px;
        line-height: 1.5;
    }
    .ceos img {
        object-fit: cover;
        object-position: 50% 5%;
    }

    .awardscard {
        margin: auto;
        padding: auto;
    }
    .awardscard img {
        width: 25%;
        padding-right: 5%;
    }
    .awars-text {
      padding: 0;
    }
    .awars-text p {
        font-size: 80%;
    }
   
}

@media only screen and (min-width: 300px) and (max-width: 400px) {
    .ceoText p{
        font-size: 12px;
    }

    .awars-text p{
        font-size: 14px;
    }
    .textabout {
        font-size: 14px;
    }
    .textabout-second{
        font-size: 14px;
    }
}

@media only screen and (min-width: 401px) and (max-width: 500px) {
    .ceoText p{
        font-size: 12.5px;
    }
    .awars-text p{
        font-size: 14.5px;
    }
    .textabout {
        font-size: 14.5px;
    }
    .textabout-second{
        font-size: 14.5px;
    }
}

@media only screen and (min-width: 501px) and (max-width: 600px) {
    .ceoText p{
        font-size: 13px;
    }
    .awars-text p{
        font-size: 15px;
    }
    .textabout {
        font-size: 15px;
    }
    .textabout-second{
        font-size: 15px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1300px) {
    .ceoText p{
        font-size: 14px;
    }
    .textabout {
        font-size: 16px;
    }
    .textabout-second{
        font-size: 16px;
    }
}

/* Espacios de las letras   */
@media only screen and (min-width: 300px) and (max-width: 369px) {
    .textabout {
        letter-spacing: -0.5px;
        text-align: left;
    }
    .textabout-second{
        letter-spacing: -0.1px;
        text-align: left;
    }
    /**/
    .ceoText p{
        letter-spacing: -0.5px;
        text-align: left;
    }

    .awars-text p{
        letter-spacing: -1px;
       text-align: left;
    }
}
@media only screen and (min-width: 370px) and (max-width: 400px) {
    .textabout {
        letter-spacing: -1.05px;
        text-align: left;
    }
    .textabout-second{
        letter-spacing: -0.7px;
        text-align: left;
    }
    /**/
    .ceoText p{
        letter-spacing: -0.6px;
        text-align: left;
    }

    .awars-text p{
        letter-spacing: -0.5px;
        text-align: left;
    }
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
    .ceoText p{
        letter-spacing: -0.9px;
        text-align: left;
    }

    .awars-text p{
        letter-spacing: -0.5px;
        text-align: left;
    }
}
@media only screen and (min-width: 455px) and (max-width: 600px) {
    .textabout {
        letter-spacing: -0.5px;
        text-align: left;
    }
    .textabout-second{
        letter-spacing: -0.5px;
        text-align: left;
    }
}
@media only screen and (min-width: 601px) and (max-width: 730px) {
    .ceoText p{
        letter-spacing: -0.5px;
        text-align: left;
    }

    .awars-text p{
        letter-spacing: -0.5px;
        text-align: left;
    }
}
@media only screen and (min-width: 731px) and (max-width: 799px) {
    .ceoText p{
        letter-spacing: -0.5px;
        text-align: left;
    }

    .awars-text p{
        letter-spacing: -0.5px;
        text-align: left;
    }
}
@media only screen and (min-width: 800px) and (max-width: 900px) {
    .ceoText p{
        letter-spacing: -0.5px;
        text-align: left;
        font-size: 11px;
    }

    .awars-text p{
        letter-spacing: -0.5px;
        text-align: left;
    }
}
@media only screen and (min-width: 901px) and (max-width: 1000px) {
    .ceoText p{
        letter-spacing: -1px;
        text-align: left;
        font-size: 14px;
    }

    .awars-text p{
        letter-spacing: -0.5px;
        text-align: left;
       font-size: 16px;
    }
}
@media only screen and (min-width: 1001px) and (max-width: 1600px) {
    .ceoText p{
        letter-spacing: -0.5px;
        text-align: left;
    }

    .awars-text p{
        letter-spacing: -0.5px;
        text-align: left;
    }
}
@media only screen and (min-width: 700px) and (max-width: 1200px) {
    .textabout {
        letter-spacing: -0.6px;
        text-align: left;
    }
    .textabout-second{
        letter-spacing: -0.5px;
        text-align: left;
    }
}
@media only screen and (min-width: 1201px) and (max-width: 1600px) {
    .textabout {
        letter-spacing: -0.6px;
        text-align: left;
    }
    .textabout-second{
        letter-spacing: -0.5px;
        text-align: left;
    }
}